body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
}

.container{
  text-align: center;
}

.todo-app{
  max-width: 700px;
  margin: 20px auto;
  padding: 10px 20px 10px;
}

.collection-item{
  background: #fff;
  color: cornflowerblue;
  font-size: 30px;
  margin: 10px;
}

.blue-text{
  font-size: 80px;
  color: darkslateblue;
}

.inputClass{
  font-size: 30px
}

.center{
  color: black;
  font-size: 30px;
  margin: 10px;
}

.collection-item span:hover{
  cursor: pointer;
  text-decoration: line-through;
}

form{
  margin: 20px 10px;
  font-size: 30px;
}
